body{
    background-color: white;
}
h1{
    color: red;
    font-size: 60px;
    text-align: center;
}

p{
    color:rgb(19, 19, 17);
    font-size: 30px;
    text-align: center;
}
img{
    width: 35%;
    margin-left: 610px;
    border:10px dotted red;
}   
.img_cabecalho{
height:325px;
width:325px;
border:325px;
}
.img_cabecalho:hover{
    opacity: 0,08;
}
header{
display:flex;
background-color: rgb(73, 67, 160)
padding:10px;
}

