body{
    background-color: white;
}
h1{
    color: red;
    font-size: 60px;
    text-align: center;
}

p{
    color:rgb(19, 19, 17);
    font-size: 30px;
    text-align: center;
}
img{
    width: 35%;
    margin-left: 610px;
    border:10px dotted red;
}   